<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/public/styles/styles.css" />


<main id="notfound">
	<section class="notfound">
		<div class="notfound-404">
			<h1>4<span></span>4</h1>
		</div>
		<h2>Oops! What you looking for?!</h2>
		<p>Sorry, but the page you are looking for does not exist, has been removed, has had a name changed, or is
			temporarily
			unavailable</p>
		<a href="/">Back to homepage</a>
	</section>
</main>