<blockquote> {{msg}} </blockquote>
<p class="flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum laudantium aliquam obcaecati!
    Inventore, ducimus! Quidem nobis itaque exercitationem animi. Molestias, aspernatur autem ullam unde quasi atque.
    Voluptas unde eos debitis.</p>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>